{% extends 'base.html.twig' %}

{% block title %}Shop - OptiView{% endblock %}

{% block body %}
{# Product Overview Section #}
    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                    Product Overview
                </h3>
            </div>
            <div class="row p-t-10">
                <div class="col-lg-3 col-md-4 m-b-50">
                    {% include 'partials/products/_shop_sidebar_filters.html.twig' with {
                        categories: categories,
                        brands: brands,
                        colors: colors,
                        shapes: shapes,
                        genres: genres,
                        styles: styles,
                        priceBounds: priceBounds,
                        query: query
                    } %}
                </div>
                <div class="col-lg-9 col-md-8">
                    {% include 'partials/products/_shop_topbar_toggle.html.twig' with {
                        query: query,
                        currentSort: currentSort,
                        currentQuery: currentQuery
                    } %}
                    <div id="shop-results">
                        {% include 'partials/products/_product_grid.html.twig' with { products: products, query: query } %}
                        {% include 'partials/products/_pagination.html.twig' with { pagination: pagination, query: query } %}
                    </div>

            {# Pagination Controls #}
            {# pagination rendered within shop-results via partial #}
                </div>
            </div>
             <script>
    document.addEventListener('DOMContentLoaded', function() {
        $('header').addClass('header-v4');
    });
    </script>
        {% endblock %}
