{# templates/admin/field/association_with_add.html.twig #}
{% extends '@EasyAdmin/crud/field/association.html.twig' %}

{% block field %}
    {# This renders the original select/autocomplete field #}
    {{ parent() }}
     
    {# Add a button to trigger the modal popup for adding a new entity #}
    {% if field.customOptions.get('crud_controller') %}
        <div class="mt-2">
            <a href="#" 
               class="btn btn-sm btn-secondary add-new-association-button"
               data-bs-toggle="modal" 
               data-bs-target="#ea-modal-add-new-association"
               data-ea-new-url="{{ ea_url().setController(field.customOptions.get('crud_controller')).setAction('new').set('ea_ajax_request', 'true') }}"
               data-ea-field-id="{{ field.formTypeOptions.attr.id }}">
                <i class="fa fa-plus"></i> Add new category 
            </a>
        </div>
    {% endif %}
{% endblock %}
