{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} - OptiView{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1>{{ page_title }}</h1>
    <p>This is the About Us page. Learn more about OptiView here.</p>
    {# Add your company information, mission, team, etc. here #}
</div>
{% endblock %}
