{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} - OptiView{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h1>{{ page_title }}</h1>
    <p>Welcome to our blog! Exciting articles and news coming soon.</p>
    {# This page will later list blog posts #}
</div>
{% endblock %}
