<div class="modal fade" id="new-category-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            {% component 'new_category_form' %}
        </div>
    </div>
</div>
