{% extends '@EasyAdmin/crud/form.html.twig' %}

{# Override the category field row to add the Add Category button #}
{% block ea_crud_form_field_category_row %}
    {{ block('form_row') }}
    <button type="button" class="btn btn-sm btn-primary mt-2" id="add-category-btn">Add Category</button>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="addCategoryModalContent">
                <!-- AJAX content will be loaded here -->
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var addBtn = document.getElementById('add-category-btn');
            if (addBtn) {
                addBtn.addEventListener('click', function() {
                    fetch('{{ path('admin_category_new_ajax') }}')
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById('addCategoryModalContent').innerHTML = html;
                            var modal = new bootstrap.Modal(document.getElementById('addCategoryModal'));
                            modal.show();
                        });
                });
            }

            // Delegate form submission for dynamically loaded content
            document.body.addEventListener('submit', function(e) {
                if (e.target && e.target.id === 'category_new_ajax_form') {
                    e.preventDefault();
                    var form = e.target;
                    var formData = new FormData(form);
                    fetch(form.action, {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Find the select or autocomplete input for category
                            var select = document.querySelector('[name$="[category]"]');
                            if (select) {
                                var option = new Option(data.entity.name, data.entity.id, true, true);
                                select.add(option);
                                select.value = data.entity.id;
                                select.dispatchEvent(new Event('change'));
                            }
                            var modal = bootstrap.Modal.getInstance(document.getElementById('addCategoryModal'));
                            modal.hide();
                        } else if (data.form_html) {
                            document.getElementById('addCategoryModalContent').innerHTML = data.form_html;
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
