{% extends '@EasyAdmin/crud/new.html.twig' %}

{# Override the category field row to add the Add Category button #}
{% block ea_crud_form_field_category_row %}
    {{ block('form_row') }}
    <a href="#" class="btn btn-sm btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#new-category-modal">+ Add Category</a>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <div class="modal fade" id="new-category-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                {% component 'new_category_form' %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('live:emit', function(e) {
            if (e.detail[0] === 'category:created') {
                var select = document.querySelector('[name$="[category]"]');
                if (select) {
                    var data = e.detail[1];
                    var option = new Option(data.name, data.id, true, true);
                    select.add(option);
                    select.value = data.id;
                    select.dispatchEvent(new Event('change'));
                }
                var modal = bootstrap.Modal.getInstance(document.getElementById('new-category-modal'));
                if (modal) modal.hide();
            }
        });
    </script>
{% endblock %}