{# Product grid items only #}
<div class="row isotope-grid mt-10" id="product-grid">
    {% for product in products %}
        {% include 'partials/products/_product_card.html.twig' with { product: product } %}
    {% else %}
        <p class="p-l-10">No products found.</p>
    {% endfor %}
    </div>
